@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap');

:root {
    --background: #212529;
}


* {
    font-family: 'Kanit', sans-serif !important;
}

.container {
    max-width: 1000px;
}


/* HEADER */
/* See separate basket.css for basket styles */

.navbar-brand {
    margin-right: 5rem;
}

.logo-image {
    width: 40px;
    height: 40px;
}


/* HOME PAGE */
.image-shadow img {
    border: 2px solid var(--background);
    box-shadow: 1px 1px 10px 2px;
}


/* PRODUCTS */

.image-detail {
    max-width: 500px;
    max-height: 400px;
}

.image-list {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 250px;
    object-fit: contain;
}

.light-font {
    font-weight: 100;
}