{% extends "./base.html" %} 
{% load static %}
{% block title %}Rodian Arms - Home{% endblock%}

{% block content %}

<main class="bg-dark text-light">
    <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="">Rodian Arms</h1>

                <div class="image-shadow m-5">
                    <img src="{% static "store/rodian-rebel.jpg" %}">
                </div>

                <h3 class="mb-4">Eriadu's #1 Weapon Trader</h3>
                <p class="fst-italic">There's no match for a good blaster at your side!</p>
                <p>
                    <a href="{% url "store:product_all" %}" class="btn btn-primary m-2">Shop Online</a>
                    <a href="{% url "store:contact" %}" class="btn btn-secondary m-2">Contact Us</a>
                </p>
            </div>
        </div>
    </section>

    
</main>

{% endblock %}
