{% extends "../base.html" %}
{% load static %}
{% block stylesheet %}
  {% static 'payment/form.css' %}
{% endblock stylesheet %}
{% block title %}
  Payment
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-12">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div id="payment-form" class="col-12 col-lg-6 mx-auto">
                <h3 class="mb-3">Billing address</h3>
                <!-- Error messages in this element -->
                <div id="card-errors" class="a" role="alert"></div>
                <form id="payment-form" data-url="{% url "orders:add" %}">
                  <div class="row g-3">
                    <div class="col-sm-7">
                      <label for="firstName" class="form-label">Customer Name</label>
                      <input type="text"
                             class="form-control"
                             id="custName"
                             placeholder=""
                             required/>
                      <div class="invalid-feedback">Valid first name is required.</div>
                    </div>
                    <div class="col-12">
                      <label for="email" class="form-label">
                        Email <span class="text-muted">(Optional)</span>
                      </label>
                      <input type="email"
                             class="form-control"
                             id="email"
                             placeholder="you@example.com"/>
                      <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
                    </div>
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text"
                             class="form-control"
                             id="custAdd"
                             placeholder="1234 Main St"
                             required/>
                      <div class="invalid-feedback">Please enter your shipping address.</div>
                    </div>
                    <div class="col-12">
                      <label for="city" class="form-label">City</label>
                      <input type="text"
                             class="form-control"
                             id="custCity"
                             placeholder="Eriadu City"
                             required/>
                      <div class="invalid-feedback">Please enter your city.</div>
                    </div>
                    <div class="col-12">
                      <label for="planet" class="form-label">Planet</label>
                      <input type="text"
                             class="form-control"
                             id="custPlanet"
                             placeholder="Eriadu"
                             required/>
                      <div class="invalid-feedback">Please enter your planet.</div>
                    </div>
                    <div class="col-12">
                      <label for="commlink" class="form-label">Commlink Line</label>
                      <input type="text"
                             class="form-control"
                             id="custCommlink"
                             placeholder="AB123-4567"
                             required/>
                      <div class="invalid-feedback">Please enter your commlink contact number.</div>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <h4 class="mb-3">Payment</h4>
                  <label for="card-element">Credit chip</label>
                  <input type="text"
                         class="form-control"
                         placeholder="Enter a valid credit chip number"
                         required/>
                  <hr class="my-4" />
                  <button id="submit" class="btn btn-primary m-2">Pay</button>
                  {% comment %}  href="{% url "payment:order_placed" %}"  {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    {% comment %} Make csrf token available in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
  </script>
  <script src="{% static 'payment/payment.js' %}" data-rel-js></script>
{% endblock content %}
