{% extends "../base.html" %} 
{% load static %}
{% block title %}Rodian Arms - Home{% endblock%}

{% block content %}

<div class="album py-5">
    <div class="container">
        <div class="pb-3 h5">Top Products</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

            {% for product in products %}
            <div class="col">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                    <div class="card h-100">
                        <div class="card-header">
                            {{ product.item }}
                        </div>
                        <img class="image-list" alt="Responsive image" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="card-text light-font fst-italic">{{product.short_note}}</p>
                        </div>
                        <div class="card-footer">₹{{product.price}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
